/* --- VARIABLES --- */
:root {
  --fuchsia: #FF0059;
  --black: #000000;
  --white: #FFFFFF;
}

/* --- RESET GLOBAL --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important; /* El !important fuerza la fuente */
}

html, body {
  background-color: var(--black) !important;
  color: var(--white);
  width: 100%;
  overflow-x: hidden;
}

/* --- SELECCIÓN DE TEXTO (Subrayado Rosa) --- */
::selection {
  background-color: var(--fuchsia);
  color: var(--white);
}

/* --- BARRA LATERAL (Scrollbar Rosa) --- */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--black);
}
::-webkit-scrollbar-thumb {
  background: var(--fuchsia);
  border-radius: 10px;
}

/* --- UTILIDADES --- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}